global:
  image:
    tag: {{ .StateValues.image_tag }}

frontend:
  image:
    repository:  {{ .StateValues.image_repository }}/frontend
presenter:
  image:
    repository: {{ .StateValues.image_repository }}/presenter
backend:
  image:
    repository:  {{ .StateValues.image_repository }}/backend

cert_manager:
  issuer: {{ .StateValues.cert_manager_issuer }}

hosts:
  frontend: app.{{ .StateValues.domain }}
  presenter: {{ .StateValues.domain }}

configmap:
  auth_authority_url: https://auth.{{ .StateValues.domain }}/application/o/dreammallearth/
  auth_redirect_uri: https://app.{{ .StateValues.domain }}/auth/
  auth_signout_uri: https://auth.{{ .StateValues.domain }}/if/flow/dreammallearth-invalidation-flow/
  auth_signup_uri: https://auth.{{ .StateValues.domain }}/if/flow/dreammallearth-enrollment/
  auth_silent_redirect_uri: https://app.{{ .StateValues.domain }}/silent-refresh/
  bbb_url: https://cafe.dreammall.earth/bigbluebutton/api/
  bbb_webhook_url: https://{{ .StateValues.domain }}/api/bbb-webhook
  endpoints_graphql_uri: https://{{ .StateValues.domain }}/api/
  endpoints_websocket_uri: ws://{{ .StateValues.domain }}/api/subscriptions
  frontend_url:  https://app.{{ .StateValues.domain }}
  jwks_uri: http://authentik-server/application/o/dreammallearth/jwks/
  presenter_url: https://{{ .StateValues.domain }}
