@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 400;
  src: url('/src/assets/fonts/Helvetica/HelveticaProRoman.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 700;
  src: url('/src/assets/fonts/Helvetica/HelveticaProBold.woff2') format('woff2');
  font-display: swap;
}

/* light version */
@font-face {
  font-family: Helvetica;
  font-style: normal;
  font-weight: 100;
  src: url('/src/assets/fonts/Helvetica/HelveticaProLight.woff2') format('woff2');
  font-display: swap;
}
