BREVO_KEY=""
BREVO_ADMIN_NAME=""
BREVO_ADMIN_EMAIL=""
BREVO_CONTACT_TEMPLATE_ADMIN="1"
BREVO_CONTACT_TEMPLATE_USER="2"
BREVO_NEWSLETTER_TEMPLATE_OPTIN="3"
BREVO_NEWSLETTER_LIST="3"
DATABASE_URL="mysql://root:@localhost:3306/dreammall.earth"

FRONTEND_URL="http://localhost:3000/"

BBB_SHARED_SECRET=""
BBB_URL=""
# BBB_WEBHOOK_URL="http://localhost:4000/bbb-webhook"

# JWKS_URI=

# WELCOME_TABLE_MEETING_ID=
# WELCOME_TABLE_NAME=

# SENTRY_DSN=
# SENTRY_ENVIRONMENT=localhost

# WEBHOOK_SECRET=1547ccd9fd7b143aa7a76021648581163ffae58c4a558be0da2e9ae0131707fc

TESTPHASE_DEFAULT="2024-10-31"
TESTPHASE_DURATION_DAYS=30