.v-switch {
  --inactive-color: var(--v-theme-dm-switch-inactive-color);
  --active-color: var(--v-theme-dm-switch-active-color);

  // Overriding of track style and size
  .v-switch__track {
    width: 54px !important;
    height: 22px !important;
    background-color: transparent !important;
    border: 3px solid rgb(var(--inactive-color));
    opacity: 1 !important;
  }

  .v-switch__thumb-container {
    &::before {
      background-color: transparent !important;
    }
  }

  // Overriding of thumb's general style
  .v-switch__thumb {
    width: 12px !important;
    height: 12px !important;
    background-color: rgb(var(--inactive-color)) !important;
    box-shadow: none !important;
    transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1); // todo: ist das wirklich notwenidg?
  }

  // Overriding of thumb's hover colors and opacity
  .v-selection-control__input:hover::before {
    color: rgb(var(--inactive-color)) !important;
    caret-color: rgb(var(--inactive-color)) !important;
    background-color: rgb(var(--inactive-color)) !important;
    opacity: 0.1;
  }

  .v-ripple__container {
    opacity: 0 !important;
  }

  .v-selection-control--dirty {
    .v-switch__track {
      border-color: rgb(var(--active-color));
    }

    .v-switch__thumb {
      background-color: rgb(var(--active-color)) !important;
    }

    .v-selection-control__input:hover::before {
      color: rgb(var(--active-color)) !important;
      caret-color: rgb(var(--active-color)) !important;
      background-color: rgb(var(--active-color)) !important;
    }
  }

  // Correction of the thumb's positions
  .v-selection-control__input {
    transform: translateX(-8px) !important;
  }

  .v-selection-control--dirty .v-selection-control__input {
    transform: translateX(8px) !important;
  }
}