domain: {{ env "DOMAIN" | default (printf "%s.git.dreammall.earth" (requiredEnv "BRANCH")) }}
namespace: {{ env "NAMESPACE" | default (printf "dreammall-git-%s" (requiredEnv "BRANCH")) }}
image_repository: ghcr.io/dreammall-earth/dreammall.earth
image_tag: {{ requiredEnv "IMAGE_TAG" }}
cert_manager_issuer: dreammall-letsencrypt-staging
