domain: dreammall.roschaefer.de
namespace: dreammall-roschaefer
image_repository: ghcr.io/roschaefer/dreammall.earth
image_tag: {{ requiredEnv "IMAGE_TAG" }}
cert_manager_issuer: dreammall-letsencrypt-prod
