
$background-color-primary: #f5f5f5;
$background-color-primary-transition: #d8d8d8;
$background-color-alt: #fff;
$primary-color: #f09630;
$primary-color-transition: #4b5460b0;
$secondary-color: #3095d4;
$secondary-color-transition: #f9c4518c;
$color-blue-100: #35a3aa;
$color-blue-200: #2ca5b1;
$color-blue-300: #009dd9;
$color-green-100: #23ad5b;
$color-green-200: #008000;
$color-orange: #e47a24;
$color-red: #b00020;
$color-grey-100: #797979;
$color-grey-200: #767676;
$color-grey-300: #3d4753;
$color-grey-400: #3f454d;
$color-grey-500: #383838;
$color-grey-600: #404a5633;
$section-box-shadow: 0 5px 5px 0 rgb(0 0 0 / 25%);
$border-radius-default: 15px;
$border-text-default: 1px solid #fff;
$font-color-default: $color-grey-300;
$font-color-dark: $color-grey-500;
$font-color-card: $font-color-dark;
$font-color-headline-append: $font-color-dark;
$font-color-link-text: $color-blue-300;
$font-color-anchor-text-hover: $color-grey-400;
$font-color-anchor-text-active: $color-grey-100;
$font-color-section-subheadline: $color-grey-100;
$font-color-light: $color-grey-200;
$font-color-headline-transition-start: $color-blue-200;
$font-color-headline-prepend: $color-blue-200;
$font-color-headline-transition-end: $color-orange;
$form-info-color-error: $color-red;
$form-info-color-success: $color-green-200;
$main-button-primary-background: $primary-color;
$main-button-primary-shadow: $color-grey-600;
$main-button-secondary-color: $font-color-light;
$main-button-secondary-bg: $background-color-alt;
$main-button-third-bg: $color-grey-300;
$main-button-fourth-bg: $color-blue-200;
$main-button-fourth-bg-hover-transition-start: $color-blue-300;
$main-button-fourth-bg-hover-transition-end: $primary-color-transition;
$main-button-submit-bg: $color-green-100;
$main-button-submit-bg-hover-transition-start: $color-green-100;
$main-button-submit-bg-hover-transition-end: $primary-color-transition;
$main-button-download-bg: $color-blue-300;
$main-button-download-bg-hover-transition-start: $color-blue-300;
$main-button-download-bg-hover-transition-end: $primary-color-transition;
$mobile: 500px;
$tablet: 960px;
$layout-column-card-max-width: 375px;
$mobile-menu-icon-max-width: 35px;
$fixed-header-height: 95px;
$footer-max-width: 1200px;
$page-max-width: 1120px;
$section-max-width: 1140px;
$section-max-width-small: 960px;
$section-max-width-x-small: 650px;
$section-max-width-big: 1440px;
$section-max-width-x-big: 1248px;
