$font-family-default: poppins, sans-serif;
$font-weight-small: 300;
$font-weight-base: 400;
$font-weight-large: 600;
$font-weight-x-large: 700;
$font-size-small: 0.875rem;
$font-size-default: 1.25rem;
$font-size-large: 1.625rem;
$font-size-x-large: 2.25rem;
$font-size-headline: 3.875rem;
$font-size-footer: 1.623rem;
$font-size-card: $font-size-large;
$font-style-normal: normal;
$line-height-normal: normal;
$line-height-default: 1.7rem;
$line-height-large: 1.9rem;
$line-height-larger: 120%;
$line-height-x-larger: 125%;  /* 2.03125rem */
$line-height-x-large: 2rem;
$letter-spacing-negative-small: -0.045rem;
$text-transform-capitalize: capitalize;