<table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center" class="r0-o" style="table-layout: fixed; width: 100%;">
  <tr>
    <td class="r23-i" style="background-color: #3d4753; padding-bottom: 42px; padding-left: 59px; padding-right: 58px; padding-top: 37px;">
      <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
        <tr>
          <th width="66.67%" valign="top" class="r5-c" style="font-weight: normal;">
            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="r6-o" style="table-layout: fixed; width: 100%;">
              <tr>
                <td valign="top" class="r7-i">
                  <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                    <tr>
                      <td class="r15-c nl2go-default-textstyle" align="left" style="color: #392f65; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 16px; line-height: 1.5; word-break: break-word; text-align: left; valign: top;">
                        <div>
                          <div class="nl2go_class_14_white_b" style="color: #fff; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 14px; font-weight: 700; word-break: break-word;">
                            Dreammall.earth
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="r15-c" align="left">
                        <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="r24-o" style="table-layout: fixed; width: 100%;">
                          <tr>
                            <td align="left" valign="top" class="r25-i nl2go-default-textstyle" style="color: #392f65; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 16px; line-height: 1.5; word-break: break-word; text-align: left;">
                              <div>
                                <div class="nl2go_class_14_white_l" style="color: #fff; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 14px; font-weight: 300; word-break: break-word;">
                                  <span style="font-family: Arial, helvetica, sans-serif;">DreamMall Verlag</span>
                                </div>
                                <div class="nl2go_class_14_white_l" style="color: #fff; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 14px; font-weight: 300; word-break: break-word;">
                                  <span style="font-family: Arial, helvetica, sans-serif;">Rosenau 15, 87437 Kempten</span><br>
                                  <a href="mailto:kontakt@dreammall.de" style="color: #2ca5b1; text-decoration: none;"><span style="color: #ffffff; font-family: Arial, helvetica, sans-serif;">kontakt@dreammall.de</span></a>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr class="nl2go-responsive-hide">
                            <td height="16" style="font-size: 16px; line-height: 16px;">
                              ­
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="r26-c nl2go-default-textstyle" align="left" style="color: #392f65; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 16px; line-height: 1.5; word-break: break-word; padding-top: 8px; text-align: left; valign: top;">
                        <div>
                          <div class="nl2go_class_14_white_b" style="color: #fff; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 14px; font-weight: 700; word-break: break-word;">
                            Social Media
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="r27-c" align="left">
                        <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="322" align="left" class="r28-o" style="table-layout: fixed; width: 322px;">
                          <tr>
                            <td valign="top">
                              <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                <tr>
                                  <td class="r27-c" align="left" style="display: inline-block;">
                                    <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="322" align="left" class="r28-o" style="table-layout: fixed; width: 322px;">
                                      <tr>
                                        <td class="r29-i" style="padding-right: 248px; padding-top: 8px;">
                                          <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                                            <tr>
                                              <th width="42" class="r30-c mobshow resp-table" style="font-weight: normal;">
                                                <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="r31-o" style="table-layout: fixed; width: 100%;">
                                                  <tr>
                                                    <td class="r4-i" style="font-size: 0px; line-height: 0px; padding-bottom: 5px; padding-top: 5px;">
                                                      <img src="https://creative-assets.mailinblue.com/editor/social-icons/original_light/instagram_32px.png" width="32" border="0" style="display: block; width: 100%;">
                                                    </td>
                                                    <td class="nl2go-responsive-hide" width="10" style="font-size: 0px; line-height: 1px;">
                                                      ­
                                                    </td>
                                                  </tr>
                                                </table>
                                              </th>
                                              <th width="32" class="r30-c mobshow resp-table" style="font-weight: normal;">
                                                <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="r32-o" style="table-layout: fixed; width: 100%;">
                                                  <tr>
                                                    <td class="r4-i" style="font-size: 0px; line-height: 0px; padding-bottom: 5px; padding-top: 5px;">
                                                      <img src="https://creative-assets.mailinblue.com/editor/social-icons/original_light/telegram_32px.png" width="32" border="0" style="display: block; width: 100%;">
                                                    </td>
                                                  </tr>
                                                </table>
                                              </th>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </th>
          <th width="33.33%" valign="top" class="r5-c" style="font-weight: normal;">
            <table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="r6-o" style="table-layout: fixed; width: 100%;">
              <tr>
                <td valign="top" class="r33-i">
                  <table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation">
                    <tr>
                      <td class="r15-c nl2go-default-textstyle" align="left" style="color: #392f65; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 16px; line-height: 1.5; word-break: break-word; text-align: left; valign: top; word-wrap: break-word;">
                        <div>
                          <div class="nl2go_class_14_white_l" style="color: #fff; font-family: Roboto,Arial,Helvetica,sans-serif; font-size: 14px; font-weight: 300; word-break: break-word;">
                            <a href="http://" style="color: #2ca5b1; text-decoration: none;"><span style="color: #ffffff; font-family: Arial, helvetica, sans-serif; font-size: 14px;">Newsletter</span></a><br>
                            <a href="http://" style="color: #2ca5b1; text-decoration: none;"><span style="color: #ffffff; font-family: Arial, helvetica, sans-serif; font-size: 14px;">Impressum</span></a><br>
                            <a href="https://dreammall.earth/datenschutz" style="color: #2ca5b1; text-decoration: none;"><span style="color: #ffffff; font-family: Arial, helvetica, sans-serif; font-size: 14px;">Datenschutzrichtlinien</span></a>
                          </div>
                          <p style="margin: 0;">
                            <span style="color: #ffffff; font-family: Arial, helvetica, sans-serif; font-size: 14px;">Abmelden</span>
                          </p>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </th>
        </tr>
      </table>
    </td>
  </tr>
</table>