name: e2e:test:all test the application end to end

on: push

jobs:
  e2e-tests:
    name: Run all E2E tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08 # v4.1.7

      - uses: actions/setup-node@26961cf329f22f6837d5f54c3efd76b480300ace # v4.0.3
        with:
          node-version-file: './.tool-versions'

      - name: E2E | Boot up test system
        run: |
          docker compose up -d --wait database authentik authentik-worker
          cd backend
          cp .env.dist .env
          npm install
          npm run db:reset
          npm run build
          npm run start &
          cd ../frontend
          cp .env.dist .env
          rm .env.production
          npm install
          npm run prod &
          cd  ../presenter
          cp .env.dist .env
          rm .env.production
          export PORT=3001
          npm install
          npm run prod &

      - name: Install cucumber-json-formatter
        run: |
          wget --no-verbose -O /opt/cucumber-json-formatter "https://github.com/cucumber/json-formatter/releases/download/v19.0.0/cucumber-json-formatter-linux-386"
          chmod +x /opt/cucumber-json-formatter
          sudo ln -fs /opt/cucumber-json-formatter /usr/bin/cucumber-json-formatter

      - name: E2E | Run all tests
        id: e2e-run
        uses: cypress-io/github-action@d075fa1b8186f1bd3c43a2a85060373b9087cd9a # v6.7.2
        with:
          working-directory: tests

      - name: E2E | if tests failed, compile html report
        if: ${{ failure() && steps.e2e-run.conclusion == 'failure' }}
        run: |
          cd cypress/
          npx tsx create-cucumber-html-report.ts
        working-directory: tests

      - name: Get PR number
        if: ${{ failure() && steps.e2e-run.conclusion == 'failure' }}
        uses: jwalton/gh-find-current-pr@89ee5799558265a1e0e31fab792ebb4ee91c016b # v1.3.3
        id: pr-number

      - name: E2E | if tests failed, upload report
        if: ${{ failure() && steps.e2e-run.conclusion == 'failure' }}
        uses: actions/upload-artifact@89ef406dd8d7e03cfd12d9e0a4a378f454709029 # v4.3.5
        with:
          name: dreammall-e2e-test-report-pr-${{ steps.pr-number.outputs.pr }}
          path: /home/runner/work/dreammall.earth/dreammall.earth/tests/cypress/reports/dreammall-e2e_html_report
