name: root

on: push

jobs:
  files-changed:
    name: Detect File Changes
    runs-on: ubuntu-latest
    outputs:
      docs: ${{ steps.filter.outputs.docs }}
    steps:
      - uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08 # v4.1.7
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            docs:
              - '.github/workflows/**/*'
              - '**/*.md'
              - '.vuepress/*'
              - 'package.json'

  markdown:
    if: needs.files-changed.outputs.docs == 'true'
    name: Lint Markdown Files
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08 # v4.1.7
      - run: npm install && npm run remark

  docs:
    if: needs.files-changed.outputs.docs == 'true'
    name: Build Docs
    needs: files-changed
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@9a9194f87191a7e9055e3e9b95b8cfb13023bb08 # v4.1.7
      - run: npm install && npm run docs:build
