$background-color: #1B1E23;
$surface-color: #3D4753;
$primary-color: #f09630;
$secondary-color: #3d4753;
$error-color: #f44336;
$info-color: #2196f3;
$success-color: #4caf50;
$warning-color: #ffeb3b;
$border-color: #d6dfe9;
$border-opacity: 0.4;
$font-color: #F5F5F5;
$cockpit-highlight-color: #2ca5b1;
$icon-background: rgb(61 71 83 / 85%);
$bottom-menu-background: rgb(78 91 107 / 60%);
$sidebar-background: rgb(61 71 83 / 90%);
$dropdown-background-color: #3D4753;
$cockpit-input-background: rgb(93 102 112);
$cockpit-element-background: rgb(93 102 112 / 55%);
$cockpit-chip-background: rgb(61 71 83);
$cockpit-chip-background-2: $cockpit-chip-background;
$panel-background: rgb(61 71 83 / 75%);
$panel-element-background: rgb(28 42 57 / 15%);
$dm-panel-background-color: rgb(93 102 112 / 55%);
$dm-panel-border-color: rgb(151 151 151 / 30%);
$dm-panel-submit-color: #F5F5F5;
$dm-panel-submit-background-color: #23ad5b;
$dm-panel-text-input-color: #F5F5F5;
$dm-panel-text-input-background-color: rgb(93 102 112 / 55%);
$dm-panel-call-action-button-color: #f5f5f5;
$dm-panel-call-action-button-background-color: #8b949b;
$dm-panel-call-action-button-indicator-color: #f5f5f5;
$dm-panel-call-action-button-indicator-background-color: #23ad5b;
$dm-panel-reminder-text-color: #f5f5f5;
$dm-panel-reminder-text-background-color: rgb(28 42 57 / 15%);
$dm-panel-reminder-link-color: #ccc;
$dm-panel-reminder-link-background-color: rgb(93 102 112 / 55%);

:export {
    backgroundColor: $background-color;
    surfaceColor: $surface-color;
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    errorColor: $error-color;
    infoColor: $info-color;
    successColor: $success-color;
    warningColor: $warning-color;
    borderColor: $border-color;
    borderOpacity: $border-opacity;
    fontColor: $font-color;
    cockpitHighlightColor: $cockpit-highlight-color;
    iconBackground: $icon-background;
    bottomMenuBackground: $bottom-menu-background;
    sidebarBackground: $sidebar-background;
    dropdownBackgroundColor: $dropdown-background-color;
    cockpitInputBackground: $cockpit-input-background;
    cockpitElementBackground: $cockpit-element-background;
    cockpitChipBackground: $cockpit-chip-background;
    cockpitChipBackground2: $cockpit-chip-background-2;
    panelBackground: $panel-background;
    panelElementBackground: $panel-element-background;
    dmPanelBackgroundColor: $dm-panel-background-color;
    dmPanelBorderColor: $dm-panel-border-color;
    dmPanelSubmitColor: $dm-panel-submit-color;
    dmPanelSubmitBackgroundColor: $dm-panel-submit-background-color;
    dmPanelTextInputColor: $dm-panel-text-input-color;
    dmPanelTextInputBackgroundColor: $dm-panel-text-input-background-color;
    dmPanelCallActionButtonColor: $dm-panel-call-action-button-color;
    dmPanelCallActionButtonBackgroundColor: $dm-panel-call-action-button-background-color;
    dmPanelCallActionButtonIndicatorColor: $dm-panel-call-action-button-indicator-color;
    dmPanelCallActionButtonIndicatorBackgroundColor: $dm-panel-call-action-button-indicator-background-color;
    dmPanelReminderTextColor: $dm-panel-reminder-text-color;
    dmPanelReminderTextBackgroundColor: $dm-panel-reminder-text-background-color;
    dmPanelReminderLinkColor: $dm-panel-reminder-link-color;
    dmPanelReminderLinkBackgroundColor: $dm-panel-reminder-link-background-color;
}
