$background-color: #000;
$surface-color: rgb(126 166 214);
$primary-color: #f09630;
$secondary-color: #3d4753;
$error-color: #f44336;
$info-color: #2196f3;
$success-color: #4caf50;
$warning-color: #ffeb3b;
$border-color: #d6dfe9;
$border-opacity: 0.4;
$font-color: #222;
$icon-color: #F5F5F5;
$icon-background: rgb(61 71 83 / 85%);
$bottom-menu-background: rgb(78 91 107 / 60%);
$sidebar-background: rgb(61 71 83 / 90%);
$dropdown-background-color: #3D4753;
$cockpit-input-background: rgb(93 102 112);
$cockpit-element-background: rgb(93 102 112 / 55%);
$cockpit-chip-background: rgb(61 71 83);

:export {
    backgroundColor: $background-color;
    surfaceColor: $surface-color;
    primaryColor: $primary-color;
    secondaryColor: $secondary-color;
    errorColor: $error-color;
    infoColor: $info-color;
    successColor: $success-color;
    warningColor: $warning-color;
    borderColor: $border-color;
    borderOpacity: $border-opacity;
    fontColor: $font-color;
    iconColor: $icon-color;
    iconBackground: $icon-background;
    bottomMenuBackground: $bottom-menu-background;
    sidebarBackground: $sidebar-background;
    dropdownBackgroundColor: $dropdown-background-color;
    cockpitInputBackground: $cockpit-input-background;
    cockpitElementBackground: $cockpit-element-background;
    cockpitChipBackground: $cockpit-chip-background;
}
