@forward 'vuetify/settings' with (
  $borders: (
    0: 0,
    null: thin,
    thin: thin,
    sm: .953px,
    md: 2px,
    lg: 4px,
    xl: 8px
  )
);

@import './imports/_config';
@import './imports/_fonts';
@import './imports/_mixins';
@import './imports/_typo';

:root {
  --menu-icon-height: 44px;
}

